version: "3.9"
services:
  reverse-proxy:
    build: .
    ports:
      - 80:80
    environment:
      NGINX_ENTRYPOINT_QUIET_LOGS: 1
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 128M
    networks:
      - app
networks:
  app:
    external: true
    name: app
